rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /storyboards/{docId} {
      allow read, write: if true;
    }
    match /users/{userId}/{document=**} {
      allow read, write: if true;
    }
    match /gp-products/{docId} {
      allow read, write: if true;
    }
    match /gp-orders/{docId} {
      allow read, write: if true;
    }
    match /gp-shop/{docId} {
      allow read, write: if true;
    }
  }
}
