rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /storyboards/{docId} {
      allow read, write: if true;
    }
    match /users/{userId}/{document=**} {
      allow read, write: if true;
    }
    match /gp-products/{docId} {
      allow read, write: if true;
    }
    match /gp-orders/{docId} {
      allow read, write: if true;
    }
    match /gp-shop/{docId} {
      allow read, write: if true;
    }
    match /mundial/{docId} {
      allow read, write: if true;
    }
    match /mundial-games/{docId} {
      allow read, write: if true;
    }
    match /mundial-players/{docId} {
      allow read, write: if true;
    }
    match /mundial-chat/{docId} {
      allow read, write: if true;
    }
    match /mundial-hottakes/{docId} {
      allow read, write: if true;
    }
    match /party-rsvp/{docId} {
      allow read, write: if true;
    }
    match /fleet_sessions/{docId} {
      allow read, write: if true;
    }
    match /fleet_notes/{docId} {
      allow read, write: if true;
    }
  }
}
